body {
    background-color: cornflowerblue;
}
h2 {
text-align: center;
font-size: 55px;
}
footer {
    text-align: center;
}
h1 {
    color: blueviolet;
    text-align: center;
    font-size: 60px;
}